# Rush uses this file to configure the NPM package registry during installation.  It is applicable
# to PNPM, NPM, and Yarn package managers.  It is used by operations such as "rush install",
# "rush update", and the "install-run.js" scripts.
#
# NOTE: The "rush publish" command uses .npmrc-publish instead.
#
# Before invoking the package manager, Rush will copy this file to the folder where installation
# is performed.  The copied file will omit any config lines that reference environment variables
# that are undefined in that session; this avoids problems that would otherwise result due to
# a missing variable being replaced by an empty string.
#
# * * * SECURITY WARNING * * *
#
# It is NOT recommended to store authentication tokens in a text file on a lab machine, because
# other unrelated processes may be able to read the file.  Also, the file may persist indefinitely,
# for example if the machine loses power.  A safer practice is to pass the token via an
# environment variable, which can be referenced from .npmrc using ${} expansion.  For example:
#

# //registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
# registry = 'https://registry.npmjs.org/'
registry = 'https://registry.npmmirror.com/'

# sass_binary_site=https://npmmirror.com/mirrors/node-sass
# electron_mirror=https://npmmirror.com/mirrors/electron/
# puppeteer_download_host=https://npmmirror.com/mirrors
# chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
# phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs
# selenium_cdnurl=https://npmmirror.com/mirrors/selenium
# node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector

# electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries
# sass_binary_site=https://npmmirror.com/mirrors/node-sass
# node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors
# python_mirror=https://npmmirror.com/mirrors/python
# profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/
# npm_config_profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/

disturl=https://npmmirror.com/mirrors/node
